body {
	font-family: 'Lato', sans-serif;
	text-align: center;
}

h1 {
	background-color: pink;
	padding: 3%;
	margin-top: 0;
	color: white;
	letter-spacing: .3rem;
}

h2 {
	font-size: 3rem;
	color: #142642;
	margin-bottom: 1%;
}

h3 {
	padding-bottom: 3%;
}

img {
	width: 300px;
	opacity: .95;
	margin: auto;
	display: block;
}

#henspeech {
	background-color: pink;
	width: 300px;
	margin: auto;
	font-size: 2rem;
	border-radius: 5px;
	color: #142642;
}
